* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* Custom Classes */
.wrapper {
    padding: 0 40px !important;
}

.color_black {
    color: black !important;
}

.cp {
    cursor: pointer;
}

/* Top Nav */

.top_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    
    background-color: #005085;
    color: white;
}

.top_nav_dropdown {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    cursor: pointer;
}

.fa-chevron-down {
    font-size: 12px;
    transition: transform 200ms linear;
}

#arrow_handle {
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 100%;
    opacity: 0;
    z-index: 7;
}

#arrow_handle:checked + .fa-chevron-down {
    transform: rotate(180deg);
}

.dropdown_list li, .dropdown_selected {
    display: flex;
    align-items: center;
    gap: 5px;

    list-style: none;
}

.top_nav img {
    width: 20px;
}

.top_nav p {
    margin: 0;
}

.dropdown_list {
    display: none;
    position: absolute;
    top: 80%;
    margin: 0;
    padding: 5px 0;
    border-radius: 6px;
    width: auto;
    white-space: nowrap; 
    z-index: 10;

    transform: scaleX(0);

    background-color: #fff;
    box-shadow: 0 0 3px 0 black;

    transition: transform 300ms linear;
}


.dropdown_list li {
    padding: 0 10px;
}

.dropdown_list li:hover {
    background-color: rgb(212, 212, 212)
}

#arrow_handle:checked ~ .dropdown_list {
    display: block;   
    transform: scaleX(1);
}

/* Main Nav Bar */

.main_nav {
    height: 90px;
}

.main_nav p {
    margin: 0;
}

.fa-car-side {
    color: #005085;
    font-size: 24px;
}

.nav_heading {
    margin: 0;
    font-weight: bold;
    color: #1aa9e5;
}

.nav_btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 3px;

    background-color: #1aa9e5;
    color: #fff;
}

/* Main Nav Toogler */


.nav-toogle {
    display: none;
}

.nav-links-responsive {
    position: absolute;
    top: 50px;
    right: 100%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.919);
    backdrop-filter: blur(10px);
    
    transition: 500ms ease-out;
}

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    transition-duration: .5s;
}

.bars {
    width: 80%;
    height: 4px;
    background-color: rgb(160, 160, 160);
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1,#bar3 {
    width: 50%;
}

#checkbox:checked + .toggle + .nav-links-responsive {
    right: 0%;
}

#checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
    width: 80%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
    width: 80%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

/* Hero Section */

.hero_section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    background-image: url(./assets/images/HeroCar.png);
    background-repeat: no-repeat;
    background-position: 100% 30%;

    background-color: #f5f6fb;
}

.hero_content {
    width: 600px;
}

.hero_content > h1 {
    font-size: 50px;
    font-weight: 600;
}

/* Search Container */

.search_main {
    width: 100%;
}

.search_container {
    position: absolute;
    top: 90%;
    width: 80% !important;
    box-shadow: 0 5px 20px 0 rgb(227, 227, 227);
    border-radius: 10px;
    width: auto;
    background-color: #fff;
}

.search_container p {
    margin: 0;
}

.fa-clock, .fa-calendar-alt {
    font-size: 25px;
}

.search_container > div > div {
    border-left: 1px solid rgb(206, 206, 206);
}

.search_container > div:first-child, .search_container > div:last-child {
    border: none;
}

.search_container > div:last-child {
    background-color: #1aa9e5;
    border-radius: 0 10px 10px 0;
}

#search_input {
    border: none;
    outline: none;
}

.fa-search {
    font-size: 25px;
}

@media (max-width: 1075px) {
    .search_container {
        flex-direction: column;
        align-items: center;
    }    
    .search_container > div > div {
        border: none;
    }
    .search_container > div:last-child {
        border-radius: 0 0 10px 10px;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .nav_links {
        position: absolute;
        width: 90%;
        top: 104%;
        z-index: 4;
        padding: 20px;
        margin: 0;
        border-radius: 10px;
        transform: scaleY(0);
        transform-origin: top;

        background-color: #fff;

        transition: transform 200ms linear;
    }
    #checkbox:checked ~ .nav_links {
        transform: scaleY(1);
    }
}

@media (max-width: 700px) {
    .search_main {
        display: none !important;
    }
    .hero_section {
        display: flex;
        padding: 0;
        justify-content: center;
        background-size: contain;
    }
    .hero_content {
        width: 100%;
        background-color: #f7f7f7a4;
    }
    .hero_content h4 {
        margin-top: 20px;
    }
    /* .hero_content h1 {
        font-size: 35px;
    }
    .hero_content h4 {
        margin-top: 20px;
        font-size: 18px;
    }
    .hero_content span {
        font-size: 22px !important;
    }
    .hero_content p {
        font-size: 14px;
        color: black !important;
    } */
    .wrapper {
        padding: 0 30px !important;
    }    
}

@media (max-width: 500px) {
    .nav_links {
        left: 17px;
    }
    .hero_section {
        height: 80vh;
    }
    .stores_btn > img {
        width: 130px;
    }
    .hero_content h1 {
        font-size: 35px;
    }
    .hero_content h4 {
        font-size: 18px;
    }
    .hero_content span {
        font-size: 22px !important;
    }
    .hero_content p {
        font-size: 14px;
        color: black !important;
    }
}
@media (max-width: 330px) {
    .hero_content h1 {
        font-size: 27px;
    }
    .hero_content h4 {
        font-size: 14px;
    }
    .hero_content span {
        font-size: 18px !important;
    }
    .hero_content p {
        font-size: 12px;
        color: black !important;
    }
}